<!-- scan="true" scanPeriod="3 seconds" -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/application.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/application.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>90</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_NO_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/app_no_trace.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/app_no_trace.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>90</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="TRACE">
        <appender-ref ref="APPLICATION"/>
        <appender-ref ref="APP_NO_TRACE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!--<logger name="org.grails.plugin.resource" level="DEBUG"/>-->
	<logger name="nz.ac.auckland.war.WebAppRunner" level="INFO"/>
    <logger name="org.avaje.ebean.SQL" level="INFO"/>
    <logger name="org.avaje.ebean.TXN" level="TRACE"/>
    <logger name="org.avaje.ebean.SUM" level="TRACE"/>
   
    <logger name="org.mortbay.log" level="WARN"/>

    <logger name="nz.ac.auckland" level="DEBUG"/>

</configuration>